<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    localStorage.setItem("i", "1");
    
   
     function addData(){
      i = localStorage.getItem("i");
      i =  parseInt(i); 
    $.get( "/p/"+i.toString(), function( data ) {
  console.log(i);
  console.log(data);
  var html_str = $("#div").html();
        html_str  +="<div>"+JSON.stringify(data)+"</div>";
        $("#div").html(html_str);
  //var div = $('#data');
//div.innerHTML = div.innerHTML +"<div>"+JSON.stringify(data)+"</div>";
  i = i+1;
  localStorage.setItem("i", i.toString());
  if (i > 20){
    
    $("#data").find('div:first').css("color","green")
  $("#data").find('div:first').fadeOut(100, function(){ $(this).remove();});
  }
});
}
   
   
   
    
    var myVar = setInterval(function(){ addData() }, 500);
  
});


</script>
</head>

<body>

<div id="data">
</div>
<body style="background-color:lightgrey;">
</body>
</html>
